/* Color */

$white: #FFFFFF;
$black: #000000;
$grey: #757575;
$font-grey: #5C5C5C;
$back-grey: #f2f1f0;
$red: #ed1c24;


/* Font-size */

$main-title: 25px;
$second-title: 20px;
$main-size: 16px;
$second-size: 18px;


/* Font-family */

$main-font: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$title-font: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
